@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Light mode default scrollbar colors */
:root {
  --scrollbar: #444; /* Scrollbar color */
  --scrollbar-thumb: #777; /* Scrollbar thumb color */
  --scrollbar-track: #333; /* Scrollbar track color */
}

/* Customize the scrollbar */
.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Light background */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Darker thumb */
  border-radius: 10px;
  border: 2px solid transparent; /* Padding around scrollbar */
  background-clip: content-box;
}

/* Scrollbar styling for Firefox */
.scroll-container {
  scrollbar-width: thin; /* Narrow scrollbar */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0.1); /* Thumb color, track color */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CLERK STYLES OVERRIDES */
.cl-avatarBox {
  width: 36px;
  height: 36px;
  border: 2px solid #2196f3;
}

/* LEXICAL EDITOR STYLES */
.other h2 {
  font-size: 18px;
  color: #444;
  margin-bottom: 7px;
}

.other a {
  color: #777;
  text-decoration: underline;
  font-size: 14px;
}

.other ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-container {
  color: rgb(54, 53, 54);
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

.editor-inner {
  background: #c9c9c9;
  position: relative;
}

.editor-input {
  min-height: 400px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 40px;
  caret-color: #444;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 40px;
  left: 40px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.editor-link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.tree-view-output {
  display: block;
  background: #222;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  white-space: pre-wrap;
  margin: 1px auto 10px auto;
  max-height: 250px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
  line-height: 14px;
}

.editor-code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  white-space: pre;
  overflow-x: auto;
  position: relative;
}

.editor-code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
.editor-code:after {
  content: attr(data-highlight-language);
  top: 0;
  right: 3px;
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
}

.editor-tokenComment {
  color: slategray;
}

.editor-tokenPunctuation {
  color: #999;
}

.editor-tokenProperty {
  color: #905;
}

.editor-tokenSelector {
  color: #690;
}

.editor-tokenOperator {
  color: #9a6e3a;
}

.editor-tokenAttr {
  color: #07a;
}

.editor-tokenVariable {
  color: #e90;
}

.editor-tokenFunction {
  color: #dd4a68;
}

.editor-paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}

.editor-paragraph:last-child {
  margin-bottom: 0;
}

.editor-heading-h1 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.editor-heading-h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.editor-heading-h3 {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.editor-quote {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor-list-ol {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-list-ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-listitem {
  margin: 8px 32px 8px 32px;
}

.editor-nested-listitem {
  list-style-type: none;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.debug-timetravel-panel {
  overflow: hidden;
  padding: 0 0 10px 0;
  margin: auto;
  display: flex;
}

.debug-timetravel-panel-slider {
  padding: 0;
  flex: 8;
}

.debug-timetravel-panel-button {
  padding: 0;
  border: 0;
  background: none;
  flex: 1;
  color: #fff;
  font-size: 12px;
}

.debug-timetravel-panel-button:hover {
  text-decoration: underline;
}

.debug-timetravel-button {
  border: 0;
  padding: 0;
  font-size: 12px;
  top: 10px;
  right: 15px;
  position: absolute;
  background: none;
  color: #fff;
}

.debug-timetravel-button:hover {
  text-decoration: underline;
}

.toolbar {
  display: flex;
  margin-bottom: 1px;
  background: #fff;
  padding: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
}

.toolbar button.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
}

.toolbar button.toolbar-item:disabled {
  cursor: not-allowed;
}

.toolbar button.toolbar-item.spaced {
  margin-right: 2px;
}

.toolbar button.toolbar-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-top: 2px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.toolbar button.toolbar-item:disabled i.format {
  opacity: 0.2;
}

.toolbar button.toolbar-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.toolbar button.toolbar-item.active i {
  opacity: 1;
}

.toolbar .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

.toolbar .toolbar-item .text {
  display: flex;
  line-height: 20px;
  width: 200px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  width: 70px;
  overflow: hidden;
  height: 20px;
  text-align: left;
}

.toolbar .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

i.undo {
  background-image: url(/assets/icons/arrow-counterclockwise.svg);
}

i.redo {
  background-image: url(/assets/icons/arrow-clockwise.svg);
}

i.bold {
  background-image: url(/assets/icons/type-bold.svg);
}

i.italic {
  background-image: url(/assets/icons/type-italic.svg);
}

i.underline {
  background-image: url(/assets/icons/type-underline.svg);
}

i.strikethrough {
  background-image: url(/assets/icons/type-strikethrough.svg);
}

i.left-align {
  background-image: url(/assets/icons/text-left.svg);
}

i.center-align {
  background-image: url(/assets/icons/text-center.svg);
}

i.right-align {
  background-image: url(/assets/icons/text-right.svg);
}

i.justify-align {
  background-image: url(/assets/icons/justify.svg);
}

i.h1 {
  background-image: url(/assets/icons/h1.svg);
}

i.h2 {
  background-image: url(/assets/icons/h2.svg);
}

i.h3 {
  background-image: url(/assets/icons/h3.svg);
}

.lb-composer-editor {
  outline: none;
}

.lb-emoji-picker-search-container {
  position: relative;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.lb-emoji-picker-search-icon {
  width: 24px;
  height: 24px;
  padding: 2px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.lb-emoji-picker-search {
  background-color: grey;
  padding: 4px;
  border-radius: 10px;
  padding-left: 30px;
}

.lb-emoji-picker-empty {
  color: white;
}

.lb-emoji-picker {
  background-color: rgb(57, 53, 53);
  border-radius: 10px;
}

.lb-emoji-picker-content {
  padding: 4px 0px;
}

.lb-emoji-picker-category-header {
  position: inherit;
  height: 30px;
  overflow: visible;
}

.lb-emoji-picker-grid {
  height: 200px;
  overflow: visible;
  padding: 10px 20px;
}

.lb-emoji-picker-grid
  > div[style="height: 100%; outline: none; overflow-y: auto; position: relative;"]
  > div[style="width: 100%; position: sticky; top: 0px; z-index: 1; margin-top: 0px;"] {
  position: relative !important;
}

/* ======================== Liveblocks Override */
.lb-root {
  --lb-accent-subtle: #0b1527;
  --lb-radius: 0px;
  --lb-dynamic-background: #1b2840;
}

.lb-comment,
.lb-thread-comments,
.lb-composer,
.lb-comment-reaction {
  background-color: rgb(54, 53, 54);
  color: #fff;
}

.lb-button {
  --lb-foreground-moderate: #fff;
}

.lb-button:where([data-variant="primary"]) {
  background-color: #5d623b;
  color: rgb(249, 228, 173);
  padding: 8px;
}

.lb-button:where(
    [data-variant="default"]:not(
        :is(
            :enabled:hover,
            :enabled:focus-visible,
            [aria-expanded="true"],
            [aria-selected="true"]
          )
      )
  ) {
  color: rgb(249, 228, 173);
}

.lb-button:where(
    :enabled:hover,
    :enabled:focus-visible,
    [aria-expanded="true"],
    [aria-selected="true"]
  ) {
  --lb-button-background: rgb(123, 93, 10);

  color: rgb(249, 228, 173);
}

.lb-inbox-notification-list-item:where(:not(:last-of-type)) {
  border-bottom: none;
}

.lb-comment-body{
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.lb-dropdown-item,
.lb-dropdown-item-icon,
.lb-composer-editor {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.lb-composer-action {
  padding: 8px;
}

.lb-comment-content {
  background: #4b4a48;
  margin: 8px;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
}

.lb-comment-date,
.lb-lexical-mention-suggestion-user,
.lb-inbox-notification-date,
.lb-comment-author,
.lb-emoji-picker-search-icon,
.lb-emoji-picker-category-header-title,
.lb-emoji-picker-search::placeholder {
  color: rgb(249, 228, 173);
}

.lb-composer-suggestions-list-item{
  color: rgb(249, 228, 173);
  display: flex;
  align-items: center;
  padding: 2px 4px;
}

.data-liveblocks-portal {
  color: rgb(249, 228, 173) !important;

}

.lb-root:where(:not(.lb-root .lb-root)) {
  --lb-dynamic-background: #1b2840;
  color: rgb(136, 52, 255);
}

.lb-composer-editor :where([data-placeholder]) {
  color: rgb(249, 228, 173);
  font-size: 12px;
  font-weight: 500;
}

.lb-comment-mention,
.lb-composer-mention{
  color: rgb(115, 115, 212);
}

.lb-lexical-floating-threads-thread:where([data-resolved]) {
  opacity: 40%;
}

.lb-elevation {
  background: rgb(53, 57, 53);
  border-radius: 5px;
}

.lb-avatar-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right:4px;
}

.lb-avatar-fallback {
  display: none;
}

.lb-comment-details {
  display: flex;
  align-items: center;
}

.lb-comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lb-comment-details-labels{
  font-size: 13px;
  font-weight: 600;
}
.lb-comment-author {
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lb-dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
}

.lb-dropdown-item:hover {
  border-radius: 5px;
  background-color: rgb(133, 125, 110);
}

/* [id^='radix-:'][id$=':'] {
  background-color: #000;
} */

.lb-lexical-floating-composer{
  background-color: rgb(54, 53, 54);
}

.lb-lexical-mention-suggestion{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
}

.lb-composer-floating-availabe{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
}

.lb-attachment-preview-media{
  height: 200px;
  width: 100%;
}

.lb-attachment-preview-media > img{
  height: 200px;
  width: 100%;
}

.lb-comment-reactions{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px; 
}

.lb-comment-reaction{
  padding: 2px 4px;
  border-radius: 15px;
}

.lb-composer-editor-container{
  padding: 6px;
}

.lb-root{
  padding: 2px 1px 1px 1px;
}

.lb-inbox-notification{
  gap:8px
}

.lb-inbox-notification-avatar{
  width:26px;
}

.lb-inbox-notification-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:300px;
}

.lb-inbox-notification-title{
  font-size: 14px;
  font-weight: 500;
  width:250px;
}

.lb-inbox-notification-date{
  color: black !important;
  font-size: 12px;
}
/* 
div[data-liveblocks-portal]{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
} */
